  @import url('https://fonts.googleapis.com/css?family=Dosis');

* ,
html, 
body {
	color:white;
	font-family: "Dosis", cursive;
	font-size: 20px;
	box-sizing: border-box;
    scroll-behavior: smooth;
	right: 0;
	left: 0;
  }
  
ul {
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin: 5px;
	padding: 5px;
}

::selection {
	background: #4900F1;
	color: #fff;
}
  
.directory-listing-table {
  margin: auto;
  background: rgba(0,0,0,.8);
  padding: .9rem 4rem;
  max-width: 900px;
  right: 0;
  left: 0;
  width: 100%;
  border-radius: .40rem;
  /*box-shadow: 0 0 40px black;*/
  box-shadow: 1px 1px 0px rgba(0,0,0,.7),
            2px 2px 0px rgba(0,0,0,.7),
            3px 3px 0px rgba(0,0,0,.7),
            4px 4px 0px rgba(0,0,0,.7),
            5px 5px 0px rgba(0,0,0,.7),
            6px 6px 0px rgba(0,0,0,.7);
} 
  
thead tr th {
  font-size: 20px;
  color: #fff;
  padding: 0.25rem;
  background-color: #250A80;
  border-radius: .30rem;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

thead th {
	text-shadow:0px 0px 8px #000;
}

tbody td {
  font-size: 14px;
  padding: 0.5rem;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto', 'Poppins', sans-serif;
}

tbody td a {
    text-decoration: none;
    color: #fff;
    cursor: none;
}

tbody td:not(:first-child) {
  text-align: center;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #1f1f1f;
}

body::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border: 3px solid gray;
}
  
input { 
    background: rgba(0,0,0,0.3);
    border: none;
    margin-bottom: 50px; 
    margin-top: 20px; 
    outline: none;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 14px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

.button {
	background-color: #000;
	border: 5px solid #000;
	color: #fff;
	line-height: 20px;
	width:90px; 
	height:30px;
}

.button:hover {
	box-shadow: 0 0 7px #000;
}
	
input,select,textarea {
    border: 1px #000000 solid;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    
}

textarea {
    max-width: 100%;
    max-height: 100%;
    padding-left: 2px;
    margin-bottom: 10px; 
    resize: none;
    overflow: auto;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    background: rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-track {
  background: #000000;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #4900F1;
  border: 3px solid black;
}

.pencet {
    background-color: rgb(0 0 0 / 57%);
    color: #fff;
    border-color: blanchedalmond;
}

.pencet a {
	text-decoration: none;
	cursor: none;
	color: #fff;
}

.pencet a:hover {
	text-decoration: none;
}
	
a {
 	   color: #fff;
 	   text-decoration: none;
}

a:hover {
  	  color: #4900F1;
    	text-decoration: underline;
}

img {
  user-select: none;
  width: 30%;
  transition: all 0.4s ease-in-out;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
    margin: 30px 0;
    animation: bounce 4s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

h1, h2, h3, h4, h5, h6, b {
	user-select: none;
	}
	
h1 {
	font-size: 4vw;
}

output {
	white-space: normal;
}
