@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');
			@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
	body {
  font-family: Arial, sans-serif;
  background-color: #001E8C;
  margin: 0;
  padding: 0;
  background-image: url("https://tmpfiles.nohat.cc/m2H7H7K9Z5b1K9K9.png"); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 30%; 
    background-position: right bottom, left bottom;
}

.container {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
}

.card {
/*  background: rgba(0,0,0,.8);*/
background-color: rgb(0 0 0 / 70%);
 border-radius: 25px;
  padding: 35px;
  margin: 10px;
  text-align: center; 
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.8); 
  right: 0;
  left: 0;
}

.card pre {
	overflow: auto;
}

.card pre {
padding: 20px 20px;
font-size: 14px;
font-weight: normal;
font-family: Ubuntu Mono;
color: #00ff00;
line-height: 1.3;
/*border: 1.2px solid #170038;*/
box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    background: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
}

.card pre::-webkit-scrollbar {
  width: 12px;
}

.card pre::-webkit-scrollbar-track {
  background: transparent;
}

.card pre::-webkit-scrollbar-thumb {
  background-color: darkslateblue;
  border: 4px solid #1C004E;
  border-radius: 100px;
}

.header-card {
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto 20px;
}

.header-card img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

h1, .title {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  color: #DFE3EE;
  font-family: 'Poppins', sans-serif;
}

h3, .user {
  font-size: 20px;
  color: #DFE3EE;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
}

.tag, .description {
  color: #DFE3EE;
  margin: 10px 0;
}

p, .tag {
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}

p, .description {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	text-transform: none;
}

.btnxd {
	margin-top: 30px;
}

.btnxd {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 7px 17px;
  letter-spacing: 1.3px;
  background-color: transparent;
  color: #DFE3EE;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  transition: background-color 0.3s;
}

.btnxd:hover {
  background-color: #FFFFFF;
  color: #111;
}
