@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

html {
  margin: 0;
  padding: 0;
  @import url('https://fonts.googleapis.com/css?family=Bree+Serif');
}
body {
  min-height: 100vh;
        display: flex;
        margin: 0;
        padding: 3rem;
        padding-bottom: 5rem;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        color: #444;
        flex-direction: column;
        text-align: center;
}
p {
  font-size: 1rem;
}
h1 {
font-size: 1.5rem;
}
  h4 {
	color: black;
	letter-spacing: 1px;
	font-size: 12px;
	border-left: 3px solid #0060FF;
	text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px 20px;
    -webkit-box-decoration-break: clone;
	 box-decoration-break: clone;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
  }
